<h1>Players</h1>
    <nav>
      <a href="/">Home</a>
      <a href="players">Players</a>
      <a href="coaches">Coaches</a>
      <a href="teams">Teams</a>
      <a href="games">Games</a>
      <a href="stats">Stats</a>
    </nav>
    <br />
    <a href="/players/create"><button class="add button">Add New</button></a>
    <br />
    <br />
    <form method="GET" action="/players">
      <label for="position">Filter by Position:</label>
      <select name="position" id="position">
        <option value="" hidden selected>--Select One--</option>
        <option value="Point Guard" >Point Guard</option>
        <option value="Shooting Guard">Shooting Guard</option>
        <option value="Small Forward">Small Forward</option>
        <option value="Power Foward">Power Foward</option>
        <option value="Center">Center</option>
      </select>

      <label for="teams">Team:</label>
      <select name="teams">
          <option value="" hidden>--Select One--</option>
          <option value="none">None</option>
          {{#each teams}}
          <option value="{{this.ID}}">{{this.Name}}</option>
          {{/each}}
      </select>
      
      <input type="submit">
    </form>
<div class="table-container">
    <table>
      <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
        <th></th>
        <th></th>
      </tr>
      <tbody>
        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Height}} inches</td>
            <td>{{this.Position}}</td>
            <td>{{this.Number}}</td>
            <td> {{#if (eq this.Team null)}}
              None
              {{else}}
              {{this.Team}}
              {{/if}}
            </td>
            <td>
              <button 
                class="table-buttons edit"
                onclick="editPlayer('{{this.ID}}')"
              >Edit</button>
            </td>
            <td>
              <button 
              class="table-buttons delete"
              onclick="deletePlayer('{{this.ID}}', '{{this.Name}}')"
              >Delete</button>
            </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
<script src="/js/update_player.js"></script>
  </div>