<h1>Teams</h1>
<nav>
    <a href="/">Home</a>
    <a href="players">Players</a>
    <a href="coaches">Coaches</a>
    <a href="#">Teams</a>
    <a href="games">Games</a>
    <a href="stats">Stats</a>
</nav>
<br />
<a href="/teams/create"><button class="add button">Add New</button></a>
<br />
<div class="table-container">
<table>
    <tr>
        {{#each data.[0]}}
          {{#if (neq @key "ID")}}
          <th>  
            {{ @key }}
          </th>
            {{/if}}
        {{/each}}
    <th></th>
    <th></th>
    </tr>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.Name}}</td>
            <td>{{this.City}}</td>
            <td>
              <button 
                class="table-buttons edit"
                onclick="editTeam('{{this.ID}}')"
              >Edit</button>
            </td>
            <td>
              <button 
              class="table-buttons delete"
              onclick="deleteTeam('{{this.ID}}', '{{this.Name}}')"
              >Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="/js/update_team.js"></script>
</div>