<h1>Games</h1>
    <nav>
      <a href="/">Home</a>
    <a href="players">Players</a>
    <a href="coaches">Coaches</a>
    <a href="teams">Teams</a>
    <a href="#">Games</a>
    <a href="stats">Stats</a>
    </nav>
    <br />
    <br />
    <a href="create.html"><button class="add button">Add New</button></a>
<br />
<div class="table-container">
<table>
    <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
    <th></th>
    <th></th>
    </tr>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Date}}</td>
            <td>{{this.HomeTeam}}</td>
            <td>{{this.HomeScore}}</td>
            <td>{{this.AwayTeam}}</td>
            <td>{{this.AwayScore}}</td>
            <td>
          <a href="edit.html"
            ><button class="table-buttons edit">Edit</button></a
          >
        </td>
        <td>
          <button class="table-buttons delete">Delete</button>
        </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>