<h1>Games</h1>
    <nav>
      <a href="../index.html">Home</a>
      <a href="../players/index.html">Players</a>
      <a href="../coaches/index.html">Coaches</a>
      <a href="../teams/index.html">Teams</a>
      <a href="#">Games</a>
      <a href="../stats/index.html">Stats</a>
    </nav>
    <br />
    <br />
    <a href="create.html"><button class="add button">Add New</button></a>
<br />
<table>
    <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
    <th></th>
    <th></th>
    </tr>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Date}}</td>
            <td>{{this.HomeTeam}}</td>
            <td>{{this.Score}}</td>
            <td>{{this.AwayTeam}}</td>
            <td>{{this.Score}}</td>
            <td>
          <a href="edit.html"
            ><button class="table-buttons edit">Edit</button></a
          >
        </td>
        <td>
          <button class="table-buttons delete">Delete</button>
        </td>
        </tr>
        {{/each}}
    </tbody>
</table>