<h1>Games</h1>
    <nav>
      <a href="/">Home</a>
    <a href="players">Players</a>
    <a href="coaches">Coaches</a>
    <a href="teams">Teams</a>
    <a href="#">Games</a>
    <a href="stats">Stats</a>
    </nav>
    <br />
    <br />
    <a href="/games/create"><button class="add button">Add New</button></a>
<br />
<div class="table-container">
<table>
    <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
    <th></th>
    <th></th>
    </tr>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Date}}</td>
            <td>{{this.HomeTeam}}</td>
            <td>{{this.HomeScore}}</td>
            <td>{{this.AwayTeam}}</td>
            <td>{{this.AwayScore}}</td>
            <td>
              <button 
                class="table-buttons edit"
                onclick="editGame('{{this.ID}}')"
              >Edit</button>
            </td>
            <td>
              <button 
              class="table-buttons delete"
              onclick="deleteGame('{{this.ID}}', '{{this.Date}}')"
              >Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="/js/game.js"></script>
</div>