   <h1>Player's Stats</h1>
    <nav>
      <a href="/">Home</a>
      <a href="../players">Players</a>
      <a href="../coaches">Coaches</a>
      <a href="../teams">Teams</a>
      <a href="../games">Games</a>
      <a href="../stats">Stats</a>
    </nav>
    <br />
    <h2>Create Player Stats:</h2>

    <div class="form-container">
      {{#if (eq gamePicked false)}}
        <form action="/stats/create" method="GET">
          <label for="game">Game:</label>
          <select name="game" id="input-gameID">
              <option value="" hidden>--Select One--</option>
              {{#each games}}
              <option value="{{this.ID}}">{{this.Date}} {{this.AwayTeam}} vs {{this.HomeTeam}}</option>
              {{/each}}
          </select>
          <input type="submit"> <br />
        </form>
      {{else}}
      <form id="stat-create-form">
      <label for="game">Game:</label>
        <select name="game" id="input-gameID">
          {{#each games}}
            <option value="{{this.ID}}" selected disabled>{{this.Date}} {{this.AwayTeam}} vs {{this.HomeTeam}}</option>
          {{/each}}          
        </select>
        <br />
        <label for="player">Player:</label>
        <select name="player" id="input-playerID">
            <option value="" hidden>--Select One--</option>
            {{#each players}}
            <option value="{{this.ID}}">{{this.Name}}</option>
            {{/each}}
        </select>
        <br />

        <label for="point">Player Points:</label>
        <input type="text" name="point" id="input-points"/>
        <br />

        <label for="assist">Player Assists:</label>
        <input type="text" name="assist" id="input-assists"/>
        <br />

        <label for="rebound">Player Rebounds:</label>
        <input type="text" name="rebound" id="input-rebounds"/>
        <br />

        <label for="fgMake">Player Field Goal Makes:</label>
        <input type="text" name="fgMake" id="input-fgMake"/>
        <br />

        <label for="fgAttempt">Player Field Goal Attempts:</label>
        <input type="text" name="fgAttempt" id="input-fgAttempt" />
        <br />

        <label for="ftMake">Player Free Throw Makes:</label>
        <input type="text" name="ftMake" id="input-ftMake" />
        <br />

        <label for="ftAttempt">Player Free Throw Attempts:</label>
        <input type="text" name="ftAttempt" id="input-ftAttempt" />
        <br />

        <label for="threeMake">Player Three Point Makes:</label>
        <input type="text" name="threeMake" id="input-threePointMake" />
        <br />

        <label for="threeAttempt">Player Three Point Attempts:</label>
        <input type="text" name="threeAttempt" id="input-threePointAttempt" />
        <br />

        <label for="block">Player Blocks:</label>
        <input type="text" name="block" id="input-blocks" />
        <br />

        <label for="steal">Player Steals:</label>
        <input type="text" name="steal" id="input-steals" />
        <br />

        <label for="foul">Player Fouls:</label>
        <input type="text" name="foul" id="input-fouls" />
        <br />

        <label for="minute">Player Minutes:</label>
        <input type="text" name="minute" id="input-minutes" />
        <br />
        <br />
      </div>
      <div class="button-container">
        <a href="/stats"><button type="button" class="back button">Back</a></button>
        <input class="submit button" type="submit" />
    </div>
    </form>
  {{/if}}
    <script src="/js/add_stat.js"></script>