<h1>Players</h1>
<nav>
    <a href="/">Home</a>
    <a href="/players">Players</a>
    <a href="/coaches">Coaches</a>
    <a href="/teams">Teams</a>
    <a href="/games">Games</a>
    <a href="/stats">Stats</a>
</nav>
<br />
<h2>Editing Stats:</h2>
<form id="stat-edit-form">
    <div class="form-container">
    {{#if data}}
    <label for="id">ID:</label>
    <input type="text" name="id" id="input-id" value="{{data.[0].ID}}" disabled/>
    <br />
    <label for="name">Player Full Name:</label>
    <input type="text" name="name" id="input-pname" value="{{data.[0].Name}}" />
    <br />

    <label for="city">Player Height (Inches):</label>
    <input type="text" name="city" id="input-height" value="{{data.[0].Height}}" />
    <br />

    <label for="position">Player Position:</label>
    <select name="position" id="input-position">
      <option value="{{data.[0].Position}}" selected hidden>{{data.[0].Position}}</option>
      <option value="point guard">Point Guard</option>
      <option value="shooting guard">Shooting Guard</option>
      <option value="small forward">Small Forward</option>
      <option value="power foward">Power Foward</option>
      <option value="center">Center</option>
    </select>
    <br />

    <label for="number">Player Number:</label>
    <input type="number" name="number" id="input-number" value="{{data.[0].Number}}" />
    <br />

    <label for="teams">Team:</label>
    <select name="teams" id="input-teamID">
        {{#if (eq data.[0].teamID null)}}
        <option value="none" selected hidden>None</option>
        {{else}}
        <option value="{{data.[0].teamID}}" selected hidden>{{data.[0].teamName}}</option>
        {{/if}}
        <option value="none">None</option>
        {{#each teams}}
        <option value="{{this.ID}}">{{this.Name}}</option>
        {{/each}}
    </select>
    {{/if}}
    </div>
    <div class="button-container">
    <a href="/stats"><button type="button" class="back button">Back</a></button>
    <input class="submit button" type="submit" />
    </div>
</form>
<script src="/js/stats.js"></script>
