<h1>Stats</h1>
<nav>
    <a href="/">Home</a>
    <a href="/players">Players</a>
    <a href="/coaches">Coaches</a>
    <a href="/teams">Teams</a>
    <a href="/games">Games</a>
    <a href="/stats">Stats</a>
</nav>
<br />
<h2>Editing Stats:</h2>
<form id="stat-edit-form">
    <div class="form-container">
        {{#if data}}
        <label for="date">ID:</label>
        <input type="text" name="date" id="input-date" value="{{data.[0].ID}}" disabled/>
        <br />

        <label for="date">Date:</label>
        <input type="text" name="date" id="input-date" value="{{data.[0].Date}}" disabled/>
        <br />
        
        <label for="name">Name:</label>
        <input type="text" name="name" id="input-name" value="{{data.[0].Name}}"/>
        <br />

        <label for="points">Player Points:</label>
        <input type="text" name="points" id="input-points" value="{{data.[0].Points}}" />
        <br />

        <label for="assists">Player Assists:</label>
        <input type="number" name="assists" id="input-assists" value="{{data.[0].Assists}}" />
        <br />

        <label for="rebounds">Player Rebounds:</label>
        <input type="number" name="rebounds" id="input-rebounds" value="{{data.[0].Rebounds}}" />
        <br />

        <label for="fieldGoals">Field Goals:</label>
        <input type="number" name="fieldGoals" id="input-fieldGoals" value="{{data.[0].FieldGoals}}" />
        <br />

        <label for="freeThrows">Free Throws:</label>
        <input type="number" name="freeThrows" id="input-freeThrows" value="{{data.[0].FreeThrows}}" />
        <br />

        <label for="threePoints">Three Points:</label>
        <input type="number" name="threePoints" id="input-threePoints" value="{{data.[0].ThreePoints}}" />
        <br />

        <label for="blocks">Blocks:</label>
        <input type="number" name="blocks" id="input-blocks" value="{{data.[0].Blocks}}" />
        <br />

        <label for="steals">Steals:</label>
        <input type="number" name="steals" id="input-steals" value="{{data.[0].Steals}}" />
        <br />

        <label for="fouls">Fouls:</label>
        <input type="number" name="fouls" id="input-fouls" value="{{data.[0].Fouls}}" />
        <br />

        <label for="minutes">Minutes:</label>
        <input type="number" name="minutes" id="input-minutes" value="{{data.[0].Minutes}}" />
        <br />

        <label for="team">Team:</label>
        <select name="team" id="input-teamID">
            {{#if (eq data.[0].Team null)}}
            <option value="none" selected hidden>None</option>
            {{else}}
            <option value="{{data.[0].TeamID}}" selected hidden>{{data.[0].TeamName}}</option>
            {{/if}}
            <option value="none">None</option>
            {{#each teams}}
            <option value="{{this.ID}}">{{this.Name}}</option>
            {{/each}}
        </select>
        {{/if}}
    </div>
    <div class="button-container">
        <a href="/coaches"><button type="button" class="back button">Back</button></a>
        <input class="submit button" type="submit" />
    </div>
</form>
<script src="/js/stat.js"></script>
