<h1>Player's Stats</h1>
    <nav>
      <a href="../index.html">Home</a>
      <a href="../players/index.html">Players</a>
      <a href="../coaches/index.html">Coaches</a>
      <a href="../teams/index.html">Teams</a>
      <a href="#">Games</a>
      <a href="../stats/index.html">Stats</a>
    </nav>
    <br />
    <br />
    <a href="create.html"><button class="add button">Add New</button></a>
<br />
  <label for="position"> Filter by Player Name:</label>
    <input type="text" />
<table>
    <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
    <th></th>
    <th></th>
    </tr>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.Date}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Points}}</td>
            <td>{{this.Assists}}</td>
            <td>{{this.Rebounds}}</td>
            <td>{{this.FGM/FGA}}</td>
            <td>{{this.FTM/FTA}}</td>
            <td>{{this.3PM/3PA}}</td>
            <td>{{this.Blocks}}</td>
            <td>{{this.Steals}}</td>
            <td>{{this.Fouls}}</td>
            <td>{{this.Minutes}}</td>
          <a href="edit.html"
            ><button class="table-buttons edit">Edit</button></a
          >
        </td>
        <td>
          <button class="table-buttons delete">Delete</button>
        </td>
        </tr>
        {{/each}}
    </tbody>
</table>