<h1>Player's Stats</h1>
    <nav>
      <a href="/">Home</a>
      <a href="players">Players</a>
      <a href="coaches">Coaches</a>
      <a href="teams">Teams</a>
      <a href="games">Games</a>
      <a href="#">Stats</a>
    </nav>
    <br />
    {{!-- <a href="/stats/create"><button class="add button">Add New</button></a>
<br />
  <label for="position"> Filter by Player Name:</label>
    <input type="text" /> --}}
<div class="table-container stats-table">
<table>
    <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
    <th></th>
    <th></th>
    </tr>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.Date}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Points}}</td>
            <td>{{this.Assists}}</td>
            <td>{{this.Rebounds}}</td>
            <td>{{this.FieldGoals}}</td>
            <td>{{this.FreeThrows}}</td>
            <td>{{this.ThreePoints}}</td>
            <td>{{this.Blocks}}</td>
            <td>{{this.Steals}}</td>
            <td>{{this.Fouls}}</td>
            <td>{{this.Minutes}}</td>
            <td>
          <a href="edit.html"
            ><button class="table-buttons edit">Edit</button></a
          >
            </td>
        <td>
          <button class="table-buttons delete">Delete</button>
        </td>
        </tr>
        {{/each}}
    </tbody>
</table>
    </div>
